<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'dbinput')}">

<body>

<div class="container">
  <h1>Database Input</h1>
  <form action="/dbinput/save" method="post">
    <div class="form-group">
      <label for="randomString">String to save</label>
      <input class="form-control" id="randomString" name="randomString" maxlength="50" required type="text" value="Tiernan Benner" />
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
  </form>
</div>

</body>
</html>
